---
import '@/styles/globals.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Page Not Found</title>
	</head>


	<body>
		<main class="h-screen flex justify-center items-center">
			<section class="content">
				<h1>Page not found!</h1>
				<p>
					Path not recognised&hellip; <a
						aria-label="Return to home page"
						href="/"
						>Go&nbsp;home?
					</a>
				</p>
			</section>
		</main>
	</body>
</html>
